/*popup.html*/

* {
    width: 100%;
    font-family: 'Comic Sans MS';
}

#planningTable {
    width: 500px;
    margin: 25px;
    padding: 4px;
}


.leftItem {
    width: 40%;
    display: inline-block;
    text-align: end;
    justify-content: center;
    align-items: center;
}

.rightItem {
    width: 60%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.groupBox {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(222, 19, 4, .7);
    color: ghostwhite;
    border-radius: 10px;
    padding: 5px;
}

body {
    margin: 25px;
}

html {
    background-color: dimgray;
}

img {
    width: 50%;
    height: auto;
    margin-right: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
